<section class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <a class="btn btn-primary" href="/belt" rble="button">Nova Faixa</a>
        <div class="widget wviolet">
          <div ht-widget-header title="{{vm.title}}"></div>
          <div class="widget-content belt">
            <table class="table table-condensed table-striped">
                <thead>
                  <tr>
                    <th>Faixa</th>
                    <th>Cor</th>
                    <th>Próxima Faixa</th>
                    <th>Criança?</th>
                    <th colspan="3">Ação</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="b in vm.belts">
                    <td>{{b.color}}</td>
                    <td style="background-color: {{b.colorCode}}"></td>
                    <td>{{b.nextBelt.color}}</td>
                    <td>{{b.child != 0 ? 'Sim' : 'Não' }}</td>
                    <td>
                      <a href="/belt/{{b.id}}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                    </td>
                    <td>
                      <a href="/belt/{{b.id}}/edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </td>
                    <td>
                      <a href="#" alt="Apagar Faixa" ng-click="vm.deleteBelt(b)" 
                          confirm-click="Quer mesmo remover a faixa?">
                        <span class="glyphicon glyphicon-trash"></span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="widget-foot">
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>