<section class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <a class="btn btn-primary" href="/classEvent" role="button">Nova Aula</a>
        <div class="widget wviolet">
          <div ht-widget-header title="{{vm.title}}"></div>
          <div class="widget-content classEvent">
            <table class="table table-condensed table-striped">
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Instrutor</th>
                    <th>Tipo de Aula</th>
                    <th colspan="3">Ação</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="c in vm.classEvents">
                    <td>{{c.classDate | date | 'short'}}</td>
                    <td>{{vm.getInstructor(c.instructor)}}</td>
                    <td>{{vm.getClassType(c.classType)}}</td>
                    <td>
                      <a href="/classType/{{c.id}}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                    </td>
                    <td>
                      <a href="/classType/{{c.id}}/edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </td>
                    <td>
                      <a href="#" alt="Apagar Aula" ng-click="vm.deleteClassEvent(c)" 
                          confirm-click="Quer mesmo remover a aula?">
                        <span class="glyphicon glyphicon-trash"></span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="widget-foot">
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
