<section class="mainbar">
  <section class="matter">
    <form name="newUser" class="form-horizontal form-custom">
      <!-- BEGIN fieldset -->
      <fieldset>
      <legend>{{vm.title}}</legend>

      <!-- BEGIN form-group Register-->
      <div class="form-group">
        <div class="col-sm-1"><label class="control-label" for="register">Matrícula</label></div>
        <div class="col-sm-3">
          <input id="register" name="register" type="text" 
            placeholder="Matrícula" class="form-control" required="" ng-model="vm.formData.register">
        </div>
        <!-- /.col-sm-3 -->
        <div class="col-sm-4">
          <div class="input-group">
            <select name="dojo" ng-model="vm.formData.dojo" class="form-control"> 
              <!-- ng-options="dojo.name for dojo in vm.dojos track by dojo.id"> -->
              <option value="">Dojo</option>
              <option ng-repeat="dojo in vm.dojos" value="{{dojo._links.self.href}}">{{dojo.name}}</option>
            </select>
          </div>
          <!-- /.input-group -->
        </div>
      </div>
      <!-- /.form-group -->

      <!-- BEGIN form-group Name-->
      <div class="form-group">
        <label class="col-sm-4 control-label" for="name">Nome</label>  
        <div class="col-sm-8">
          <input id="name" name="name" type="text" 
            placeholder="Nome do Aluno" class="form-control" required="" ng-model="vm.formData.name">
        </div>
        <!-- /.col-sm-8 -->
      </div>
      <!-- /.form-group -->

      <!-- BEGIN form-group Email-->
      <div class="form-group">
        <div class="col-sm-1"><label class="control-label" for="email">E-mail</label></div>
        <div class="col-sm-8">
          <input id="email" name="email" type="email" 
            placeholder="Endereço de Email" class="form-control" required="" ng-model="vm.formData.email">
          <div role="alert">
            <span class="error" ng-show="newUser.email.$error.required">
              Obrigatório!</span>
            <span class="error" ng-show="newUser.email.$error.email">
              E-mail inválido!</span>
          </div>
          <!-- END role alert -->
        </div>
        <!-- /.col-sm-8 -->
      </div>
      <!-- /.form-group -->

      <!-- BEGIN form-group dob -->
      <div class="form-group">
        <div class="col-sm-1"><label class="control-label" for="dob">Data de Nascimento</label></div>
        <div class="col-sm-3">
          <div class="input-group">
            <input type="date" class="form-control" 
              ng-model="vm.formData.dob" ng-blur="vm.onDobBlur($event)" >
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.col-sm-3 -->
        <div class="col-md-3" ng-show="vm.isChild" style="padding-top:7px;">
          <label><input type="checkbox" name="child" ng-model="vm.formData.child">Criança?</label>
        </div>
        <!-- /.col-sm-3 -->
        <div class="col-sm-3">
          <div class="input-group">
            <select name="bloodType" ng-model="vm.formData.bloodType" class="form-control" 
              ng-options="bloodType for bloodType in vm.bloodTypes">
              <option value="">Tipo Sanguíneo</option>
            </select>
          </div>
          <!-- /.input-group -->
        </div>
      </div>
      <!-- /.form-group -->

      <!-- BEGIN personalDocuments -->
      <div id="personalDocuments" ng-show="vm.adult">
        <!-- BEGIN form-group rg-cpf -->
        <div class="form-group">
          <div class="col-sm-1"><label class="control-label">Documentos Pessoais</label></div>
          <div class="col-sm-8">
              <div class="form-group">
                <!-- acts as .row -->
                <div class="col-sm-4">
                    <div class="input-group">
                      <span class="input-group-addon" id="lblCPFResp">CPF</span>
                      <input type="text" class="form-control" placeholder="Só números" 
                        aria-describedby="lblCPFResp" ui-br-cpf-mask ng-model="vm.formData.cpf">
                    </div>
                    <!-- /.input-group -->
                </div>
                <!-- /.col-sm-4 (nested) -->
                <div class="col-sm-4">
                    <div class="input-group">
                      <span class="input-group-addon" id="lblRGPai">RG</span>
                      <input type="text" class="form-control" placeholder="Só números" 
                        ng-model="vm.formData.rg" aria-describedby="lblRGPai">
                    </div>
                    <!-- /.input-group -->
                </div>
                <!-- /.col-sm-4 (nested) -->
              </div>
              <!-- /.form-group (nested) -->
          </div>
          <!-- /.col-sm-8 .col-sm-offset-4 -->
        </div>
        <!-- /.form-group -->
        <!-- END form-group rg-cpf -->
      </div>
      <!-- /#personalDocuments -->

      <!-- BEGIN parentsInfo -->
      <div id="parentsInfo">
        <!-- BEGIN form-group line-1 -->
        <div class="form-group">
          <div class="col-sm-1"><label class="control-label">Filiação</label></div>
          <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon" id="lblFatherName">Pai</span>
                <input type="text" class="form-control" placeholder="Nome do Pai" 
                  ng-model="vm.formData.fatherName" aria-describedby="lblFatherName">
              </div>
              <!-- /.input-group -->
          </div>
          <!-- /.col-sm-8 -->
        </div>
        <!-- /.form-group -->
        <!-- END form-group line-1 -->
        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-1">
            <div class="form-group">
              <div class="col-sm-8">
                <div class="input-group">
                  <span class="input-group-addon" id="lblMotherName">Mãe</span>
                  <input type="text" class="form-control" placeholder="Nome da Mãe" 
                    ng-model="vm.formData.motherName" aria-describedby="lblMotherName">
                </div>
                <!-- /.input-group -->
              </div>
              <!-- /.col-sm-8 -->
            </div>
            <!-- /. form-group (nested) -->
          </div>
          <!-- /.col-sm-8 .col-sm-offset-1 -->
        </div>
        <!-- BEGIN form-group rg-cpf -->
        <div class="form-group" ng-hide="vm.adult">
          <div class="col-sm-8 col-sm-offset-1">
              <div class="form-group">
                <!-- acts as .row -->
                <div class="col-sm-4">
                    <div class="input-group">
                      <span class="input-group-addon" id="lblCPFParent">CPF</span>
                      <input type="text" class="form-control" placeholder="Números - CPF do Responsável" 
                        aria-describedby="lblCPFParent" ui-br-cpf-mask ng-model="vm.formData.cpfParent">
                    </div>
                    <!-- /.input-group -->
                </div>
                <!-- /.col-sm-4 (nested) -->
                <div class="col-sm-4">
                    <div class="input-group">
                      <span class="input-group-addon" id="lblRGParent">RG</span>
                      <input type="text" class="form-control" placeholder="Números - RG do Responsável" 
                        ng-model="vm.formData.rgParent" aria-describedby="lblRGParent">
                    </div>
                    <!-- /.input-group -->
                </div>
                <!-- /.col-sm-4 (nested) -->
              </div>
              <!-- /.form-group (nested) -->
          </div>
          <!-- /.col-sm-8 .col-sm-offset-4 -->
        </div>
        <!-- /.form-group -->
        <!-- END form-group rg-cpf -->
      </div>
      <!-- /#parentsInfo -->
      
      <!-- BEGIN form-group line-1 -->
      <div class="form-group">
        <div class="col-sm-1"><label class="control-label">Endereço</label></div>
         <div class="col-sm-6">
            <div class="input-group">
               <span class="input-group-addon" id="lblStreet">Rua</span>
               <input type="text" class="form-control" placeholder="Nome da Rua" aria-describedby="lblStreet" 
                ng-model="vm.formData.street">
            </div>
            <!-- /.input-group -->
         </div>
         <!-- /.col-sm-6 -->
         <div class="col-sm-2">
            <div class="input-group">
               <span class="input-group-addon" id="lblNumber">Nº</span>
               <input type="text" class="form-control" name="number" aria-describedby="lblNumber" ng-model="vm.formData.number">
            </div>
            <!-- /.input-group -->
         </div>
         <!-- /.col-sm-2 -->
      </div>
      <!-- /.form-group -->
      <!-- END form-group line-1 -->

      <!-- BEGIN form-group complement-neighborhood -->
      <div class="form-group">
         <div class="col-sm-8 col-sm-offset-1">
            <div class="form-group">
               <!-- acts as .row -->
               <div class="col-sm-6">
                  <div class="input-group">
                     <span class="input-group-addon" id="lblComplement">Complemento</span>
                     <input type="text" class="form-control" placeholder="Complemento" 
                      aria-describedby="lblComplement" ng-model="vm.formData.complement">
                  </div>
                  <!-- /.input-group -->
               </div>
               <!-- /.col-sm-4 (nested) -->
               <div class="col-sm-6">
                  <div class="input-group">
                     <span class="input-group-addon" id="lblNeighborhood">Bairro</span>
                     <input type="text" class="form-control" placeholder="Bairro" aria-describedby="lblNeighborhood" 
                        ng-model="vm.formData.neighborhood">
                  </div>
                  <!-- /.input-group -->
               </div>
               <!-- /.col-sm-4 (nested) -->
            </div>
            <!-- /.form-group (nested) -->
            <div class="form-group">
               <!-- acts as .row -->
               <div class="col-sm-5">
                  <div class="input-group">
                     <span class="input-group-addon" id="lblCity">Cidade</span>
                     <input type="text" class="form-control" placeholder="Cidade" aria-describedby="lblCity" ng-model="vm.formData.city">
                  </div>
                  <!-- /.input-group -->
               </div>
               <!-- /.col-sm-5 (nested) -->
               <div class="col-sm-3">
                  <div class="input-group">
                    <select name="state" ng-model="vm.formData.state" class="form-control" ng-options="state for state in vm.states">
			                <option value="">UF</option>
		                </select>
                  </div>
                  <!-- /.input-group -->
               </div>
               <!-- /.col-sm-3 (nested) -->
               <div class="col-sm-4">
                  <div class="input-group">
                     <span class="input-group-addon" id="lblCEP">CEP</span>
                     <input type="text" class="form-control" placeholder="CEP" aria-describedby="lblCEP" 
                        ng-model="vm.formData.cep" ng-blur="vm.getAddressFromCEP($event)" ui-br-cep-mask>
                  </div>
                  <!-- /.input-group -->
               </div>
               <!-- /.col-sm-4 (nested) -->
            </div>
            <!-- /.form-group (nested) -->
         </div>
         <!-- /.col-sm-8 .col-sm-offset-4 -->
      </div>
      <!-- /.form-group -->
      <!-- END form-group complement-neighborhood -->

      <div class="form-group">
         <div class="col-sm-offset-1 col-sm-8">
            <button id="gravar" name="gravar" class="btn btn-success" ng-click="vm.processForm()">Gravar</button>
            <button id="cancelar" name="cancelar" class="btn btn-danger" ng-click="vm.clearForm()">Cancelar</button>
         </div>
         <!-- /col-sm-offset-4.col-sm-8 -->
      </div>
      <!-- /.form-group -->
    </form>

    <p>{{ vm.formData }}</p>
  </section> <!-- matter -->
</section> <!-- mainbar -->
